.body {
	width: 1440px;
}
.header {
	height: 200px;
	background-color: rgba(229, 224, 0, 1);
	left: 0px;
	top: 0px;
}

div {
	left: 80px;

}
.name {
	color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	align-items: center;
	position: absolute;
	top: 80px;
}
.picture {
	background-image: url(../img/pic_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.menu-container {
	height: 100px;
	background-color: rgba(229, 224, 0, 1);
	left: 0px;
}
.menu {
	position: absolute;
	top: 1040px;
}
A {
	text-decoration: none;
	color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 25px; 
}
a:hover {
    color: blue; 
   }
.main-container {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 1280px;
	height: 637px;
	margin-left: 80px;
	margin-right: 80px;
	font-family: helvetica;
}
.TextTitle {
	font-weight: bold;
	font-size: 50px;
}
.mainText {
	font-weight: 300px;
	font-size: 50px;
	text-align: justify;
}

.footer-container {
	height: 200px;
	background-color: rgba(229, 224, 0, 1);
	left: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
}
.logo {
	background-image: url(../img/logo.png);
	width: 205px;
	height: 46px;
	position: absolute;
	left: 80px;
}
.theme {
	font-family: helvetica;
	font-weight: bold;
	font-size: 50px;
	color: white;
	position: absolute;
	right: 80px;
}



